.search-form {
    margin-bottom: 40px;
}

button {
    margin-left: 10px;
    color: #fff;
    background-color: rgb(30 104 216);
    border-radius: 50px;
    padding: 2px 8px;
    font-size: 15px;
    cursor: pointer;
}
